CompileFlags:
  Add:
    - "-I/opt/xilinx/2025.1/Vitis/include"
    - "-I/home/abeane/Projects/BHTreeFPGA/hw/include"
    - "-I/home/abeane/Projects/BHTreeFPGA/hw/tb/common"
    - "-I/usr/include/c++/11"
    - "-I/usr/include/x86_64-linux-gnu/c++/11"
    - "-I/usr/include/c++/11/backward"
    - "-I/usr/lib/gcc/x86_64-linux-gnu/11/include"
    - "-I/usr/include/x86_64-linux-gnu"
    - "-I/usr/include"
    # - "-D__SYNTHESIS__"
    # - "-D__VITIS_HLS__"
    - "-std=c++11"
    # - "-mfp16-format=ieee"
  Remove:
    - "-fhls"
    - "-hls-syn-headers-dir=*"
    - "-fhlstoplevel=*"
    - "--gcc-toolchain=*"
  Compiler: /usr/bin/g++
